@import "theme";

@import url('https://fonts.cdnfonts.com/css/jetbrains-mono-2');

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'JetBrains Mono', sans-serif;
    font-size: 14pt;

    line-height: 1.3em;

    padding: 5em 25%;
}

.header-links {
    a {
        margin-right: 0.5em;
    }

    a:last-of-type {
        margin-right: 0;
    }
}

.space {
    margin-bottom: 2em;
}

.doublespace {
    margin-bottom: 4em;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.25;
}

img {
    max-width: 100%;
}

blockquote {
    margin-left: 0;
    padding-left: 1em;
}

code {
    padding: 0.1em 0.2em;
    font-size: 12pt;
}

pre {
    overflow: auto;
    padding: 0.3em;

    code {
        padding: 0;
    }
}

.footnote-definition {
    margin-top: 1em;

    &:first-of-type {
        margin-top: 3em;
    }

    p {
        display: inline;
    }
}

@media all and (max-width: 1200px) {
    body {
        padding: 3em 15%;
    }
}

@media all and (max-width: 800px) {
    body {
        padding: 1em 1em;
    }
}
