{% extends "page.html" %}

{% block title %}{{ config.title }} | Page Not Found{% endblock title %}

{% block content %}
<main>
    <h1>Page Not Found (404)</h1>
    <p>The page you were looking for could not be found. Maybe visit <a href=/>adityapadala.com</a> you might find it there.</p>
</main>
{% endblock content %}
